/*
Auteur  : Lopes Miguel, Troller Fabian, Juling Guntram
Date    : 2018.11.06
Description : Code javascript cité des metiers
 */

.solutions {
    font-size: 2.5em;
}

.binary {
    font-size: 1.5em;
}

.hexadecimal {
    font-size: 1.5em;
}
hr {
    border-color: #949593 !important;
}
.winImage {
  background-image: url('../img/cadena_ouvert.png');
  height: 100vh;
  background-repeat:no-repeat;
  background-size:100% 100%;
}
