/*
.Button{
  float: left;
  position: absolute;
  font-size: 20pt;
  font-family: Helvetica;
  height: 15%;
  width: 15%;
}

.Table{
  float: left;
  position: absolute;
  text-align: center;
  font-size: 20pt;
  font-family: Helvetica;
  width: 20%;
}

#TablePow1{
  font-size: 14pt;
  left: 25%;
  top: 11%;
}

#TablePow2{
  font-size: 14pt;
  left: 55%;
  top: 11%;
}

#Table1{
  left: 25%;
  top: 15%;
}

#Table2{
  left: 55%;
  top: 15%;
}

#TableSol1{
  left: 25%;
  top: 5%;
}

#TableSol2{
  left: 55%;
  top: 5%;
}

#TableHex1{
  left: 25%;
  top: 25%;
}

#TableHex2{
  left: 55%;
  top: 25%;
}

#B0{
  left: 35%;
  top: 35%;
}

#B1{
  left: 50%;
  top: 35%;
}

#X{
  left: 42.5%;
  top: 50%;
}*/
/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}